.bottom-section {
  background-color: $dark-background;
  padding: 60px 0 60px 15px;

  &__container {
    display: flex;
    justify-content: flex-start;
  }
  .logo--bottom {
    color: $white;
  }
  &__contacts-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  &__address-link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $white;
  }
  &__contact-link:focus,
  &__social-media-link:focus {
    outline: none;
  }
  &__contact-link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
  &__social-container {
    margin-left: 70px;
    padding-top: 12px;
  }
  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
    vertical-align: baseline;
  }
  &__social-media-list {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    width: 206px;
  }
  &__social-media-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: $white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__social-media-link:hover &__social-media-icon,
  &__social-media-link:focus &__social-media-icon {
    background-color: $brand-color;
  }
  &__newsletter {
    margin-left: 78px;
    padding-top: 12px;
  }
  &__newsletter-form {
    margin-top: 20px;
    display: flex;
    gap: 12px;
  }
  &__newsletter-input {
    padding: 0;
    width: 358px;
    height: 50px;
    padding-left: 16px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $white;

    &:focus,
    &:hover {
      outline: none;
      border-color: $brand-color;
    }
  }
  &__main-button {
    padding: 0 0 0 42px;
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__button-icon {
    width: 24px;
    height: 24px;
  }
}
