.second-section {
  background-color: $white;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    &-item {
      display: flex;
      justify-content: space-between;
      flex-flow: column;
      gap: 10px;
    }
  }
  &__heading {
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $almost-black;
  }
  &__description {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    flex-basis: 75px;
  }
  &__icon {
    width: 70px;
    height: 70px;
    margin: 25px 100px;
    &-container {
      width: 270px;
      height: 120px;
      background-color: $dirty-white;
      border-radius: 4px;
      margin-bottom: 30px;
    }
  }
}
