.top-section {
  background-color: $white;
  border-bottom: 1px solid #ececec;
  padding: 24px 0 25px 0;

  &__container {
    padding: 0 27px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-and-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 93px;
  }
}
