body {
  font-family: $fonts;
  background-color: $white;
  color: $grey;
}
ul,
h1,
h2,
h3,
h4,
p,
input {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  cursor: pointer;
}
.container {
  width: 1200px;
  margin: 0 auto;

  &--padding-added {
    padding: 0 15px 0;
  }
}
.section {
  padding: 94px 0;
}
.secondary-heading {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: $almost-black;
  margin-bottom: 50px;
}
