$brand-color: #2196f3;
$almost-black: #212121;
$grey: #757575;
$dark-background: #2f303a;
$white: #ffffff;
$dirty-white: #f5f4fa;
$border-gray: #eeeeee;
$delicate-gray: #afb1b8;
$fonts: "Roboto", "Raleway", sans-serif;
